<div class="container m-auto mt-4 ">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <ul class="d-flex flex-row ">
        <li class="button">
          <a class="link active" href="#">Models</a>
        </li>
        <li class="button">
          <a class="link" href="#">History</a>
        </li>
        <li class="button">
          <a class="link" href="#">About</a>
        </li>
        <li class="button">
          <a class="link" href="#">Services</a>
        </li>
      </ul>
    </div>
    <div>
      <button mat-mini-fab color="primary" (click)="openSearchDialog()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
</div>
